* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html,body{
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;
    color: azure;
}

/* For modern browsers */
::-webkit-scrollbar {
    width: 12px;               /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
    background: #2d2d2d;       /* Background color of the scrollbar track */
    border-radius: 10px;       /* Rounded corners for the track */
}

::-webkit-scrollbar-thumb {
    background-color: #4a4a4a; /* Color of the scrollbar thumb */
    border-radius: 10px;       /* Rounded corners for the thumb */
    border: 3px solid #2d2d2d; /* Padding around the thumb to make it smaller */
}

::-webkit-scrollbar-thumb:hover {
    background-color: #555;    /* Color of the scrollbar thumb on hover */
}

/* For Firefox */
* {
    scrollbar-width: thin;     /* Thin scrollbar width */
    scrollbar-color: #4a4a4a #2d2d2d; /* Scrollbar thumb and track color */
}
